<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="/static/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="contact-container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
                {% comment %} <form method="post" action="{% url 'contact_view' %}"> {% endcomment %}
                    {% csrf_token %}
                    <input type="text" name="name" class="field" placeholder="Your Name">
                    <input type="email" name="email" class="field" placeholder="Your Email">
                    <input type="phone" name="phone" class="field" placeholder="Your Phone">
                    <textarea name="desc" placeholder="Message" class="field"></textarea>
                    <button type="submit" class="contact-btn">Send</button>
                </form>
			</div>             
		</div>
	</div>
</body>
</html>


