<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Login </title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/accounts/accounts.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
    <div class="container forms">
      <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form method="POST">
              {% csrf_token %} {% include "base/alert.html" %}
              <div class="field input-field">
                  <input type="email" name="email" placeholder="Email" class="input">
              </div>

              <div class="field input-field">
                  <input type="password" name="password" placeholder="Password" class="password">
                  <i class='bx bx-hide eye-icon'></i>
              </div>

              <div class="field button-field">
                <button button="submit">Login</button>
              </div>
              
              <div class="form-link">
                  <a href="#" class="forgot-pass">Forgot password?</a>
              </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="{% url "custom_register" %}" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="" class="field google">
                <img src="/static/accounts/google.png" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="/static/accounts/script.js"></script>
  </body>
</html>
  

