<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Register</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/accounts/accounts.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
    <div class="container forms">
      <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form method="POST">
              {% csrf_token %} {% include "base/alert.html" %}

              <div class="field input-field">
                <input type="text" id="first_name" name="first_name" placeholder="First Name" required/>
              </div>

              <div class="field input-field">
                <input type="text" id="last_name" name="last_name" placeholder="Last Name" required/>
              </div>

              <div class="field input-field">
                <input type="email" id="email" name="email" placeholder="Email" required class="input">
              </div>

              <div class="field input-field">
                <input type="tel" id="phone" name="phone_number" placeholder="Phone" required />
              </div>
              
              <div class="field input-field">
                  <input type="password" name="password"placeholder="Create password" class="password">
              </div>

              <div class="field button-field">
                  <button>Signup</button>
              </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="{% url "custom_login" %}" class="link login-link">Login</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="/static/accounts/google.png" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="/static/accounts/script.js"></script>
  </body>
</html>



